<div class="d-flex align-items-center justify-content-between">
  <div class="brand_info">
    <!-- <h2>{{locationData?.location_name}}</h2> -->
    <h2>{{nameOfCompany}}</h2>
  </div>

  <div class="d-flex align-items-center justify-content-between gap-4">
    <div class="header_search d-lg-block d-md-block d-none">
      <div class="search_box">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M5 11C5 7.691 7.691 5 11 5C14.309 5 17 7.691 17 11C17 14.309 14.309 17 11 17C7.691 17 5 14.309 5 11ZM20.707 19.293L17.312 15.897C18.365 14.543 19 12.846 19 11C19 6.589 15.411 3 11 3C6.589 3 3 6.589 3 11C3 15.411 6.589 19 11 19C12.846 19 14.543 18.365 15.897 17.312L19.293 20.707C19.488 20.902 19.744 21 20 21C20.256 21 20.512 20.902 20.707 20.707C21.098 20.316 21.098 19.684 20.707 19.293Z"
            fill="#061D23" />
        </svg>
        <input type="search" placeholder="Search"
          (keyup)="searchDepartmentData($event)">
      </div>
    </div>
    <div class="header_add_button d-flex align-items-center gap-4">
      <div class="position-relative">
        <button
          class="btn btn-primary d-flex align-items-center gap-2 justify-content-center"
          (click)="openAddDepartmentModal()"><svg
            xmlns="http://www.w3.org/2000/svg" width="24" height="24"
            viewBox="0 0 24 24" fill="none">
            <path
              d="M19 11H13V5C13 4.73478 12.8946 4.48043 12.7071 4.29289C12.5196 4.10536 12.2652 4 12 4C11.7348 4 11.4804 4.10536 11.2929 4.29289C11.1054 4.48043 11 4.73478 11 5V11H5C4.73478 11 4.48043 11.1054 4.29289 11.2929C4.10536 11.4804 4 11.7348 4 12C4 12.2652 4.10536 12.5196 4.29289 12.7071C4.48043 12.8946 4.73478 13 5 13H11V19C11 19.2652 11.1054 19.5196 11.2929 19.7071C11.4804 19.8946 11.7348 20 12 20C12.2652 20 12.5196 19.8946 12.7071 19.7071C12.8946 19.5196 13 19.2652 13 19V13H19C19.2652 13 19.5196 12.8946 19.7071 12.7071C19.8946 12.5196 20 12.2652 20 12C20 11.7348 19.8946 11.4804 19.7071 11.2929C19.5196 11.1054 19.2652 11 19 11Z"
              fill="#FCFCFC" />
          </svg>
          <span style="padding-top: 3px;">New Department</span>
        </button>
        <div class="tooltip_manual">
          New Department
        </div>
      </div>
    </div>
  </div>
  <app-header></app-header>
</div>
<div class="row mt-4 pt-lg-2 g-4">

  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-0">
    <form action class="mb-4 pb-lg-2">
      <ul class="filter_dropdown d-flex align-items-center gap-3">
        <li class="position-relative">
          <!-- <select name="departments" id="departments">
            <option value>Filter by office</option>
            <option value="Filter by Department">Filter by
              office</option>
            <option value="Filter by Department">Filter by
              office</option>
            <option value="Filter by Department">Filter by
              office</option>
          </select> -->
          <select name="locations" id="locations"
            (change)="onLocationSelect($event)">

            <option value>Filter by office</option>
            <option *ngFor="let location of allLocationByCompany"
              [value]="location.id">{{ location.location_name }}</option>
          </select>
        </li>

        <li class="position-relative">
          <!-- <select name="departments" id="departments">
            <option value>Filter by department</option>
            <option value="Filter by Department">Filter by
              department</option>
            <option value="Filter by Department">Filter by
              department</option>
            <option value="Filter by Department">Filter by
              department</option>
          </select> -->
          <select name="departments" id="departments"
            (change)="onDepartmentSelect($event)">
            <option value>Filter by department</option>
            <option *ngFor="let dept of departmentData"
              [value]="dept.department_id">{{ dept.department_name }}</option>
          </select>
        </li>
      </ul>
    </form>
  </div>
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-0">
    <div class="breadcrumb_middle">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Departments</a></li>
          <li class="breadcrumb-item active" aria-current="page">Operations</li>
        </ol>
      </nav>
    </div> -->

  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-0">
    <div class="page_table">
      <!-- <table class="table m-0">   -->
      <table class="table employee_table card_table" mat-table
        #table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef class="table_checkbox">
            <mat-checkbox (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="table_checkbox">
            <mat-checkbox (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>

        </ng-container>

        <!-- For department_name -->
        <ng-container matColumnDef="department_name">
          <th *matHeaderCellDef
            class="justify-content-lg-start justify-content-md-start text-nowrap justify-content-start">
            Department name
          </th>
          <td *matCellDef="let element"
            class="justify-content-lg-start justify-content-md-start text-nowrap justify-content-start">
            {{ element.department_name}}</td>

        </ng-container>

        <!-- For location -->
        <ng-container matColumnDef="Location">
          <th *matHeaderCellDef
            class="text-nowrap text-center">
            Location
          </th>
          <td *matCellDef="let element"
            class="text-center">
            {{element.location_name}}</td>

        </ng-container>

        <!-- <ng-container matColumnDef="Location_Id">
             <th *matHeaderCellDef
              class="justify-content-lg-center justify-content-md-center text-nowrap justify-content-center">
              Location_Id
            </th>
            <td *matCellDef="let element"
              class="justify-content-lg-center justify-content-md-center text-nowrap justify-content-center">
              {{element.location_id}}</td>

          </ng-container> -->

        <!-- For Shift 1 -->
        <ng-container matColumnDef="Shift">
          <th *matHeaderCellDef
            class="text-nowrap text-center">
            Shift
          </th>
          <td *matCellDef="let element"
            class="text-nowrap text-center">
            {{element.shift_name_1}}</td>

        </ng-container>

        <!-- For shift1 Attandance -->
        <ng-container matColumnDef="Attendance">
          <th *matHeaderCellDef
            class="text-nowrap text-center">
            Attendance
          </th>
          <td *matCellDef="let element"
            class="text-nowrap text-center">
            <div class="d-flex align-items-center gap-2">
              <div *ngIf="parseAttendance(element.shift_1_attendance) >= 0">
                <b>{{element.shift_1_attendance}}/{{element.shift_1_total}}</b>
              </div>
              <div
                class="progress ms-2" style="background-color:#061D23;"
                *ngIf="parseAttendance(element.shift_1_attendance) >= 0">
                <div
                  class="progress-bar"
                  [style.width.%]="getAttendancePercentage(element.shift_1_attendance, element.shift_1_total)"
                  role="progressbar"
                  aria-valuenow="24"
                  aria-valuemin="0"
                  aria-valuemax="28"></div>
              </div>
            </div>
          </td>

        </ng-container>
        <!-- For Shift 2 -->

        <ng-container matColumnDef="shift">
          <th *matHeaderCellDef
            class="text-nowrap text-center">
            Shift
          </th>
          <td *matCellDef="let element"
            class="text-nowrap text-center">
            {{element.shift_name_2}}
          </td>

        </ng-container>
        <ng-container matColumnDef="attendance">
          <th *matHeaderCellDef
            class="text-nowrap text-center">
            Attendance
          </th>
          <td *matCellDef="let element"
            class="text-center fade_att">
            <div class="d-flex align-items-center gap-2">
              <div *ngIf="parseAttendance(element.shift_2_attendance) >= 0">
                <b>{{element.shift_2_attendance}}/{{element.shift_2_total}}</b>
              </div>
              <div
                class="progress ms-2" style="background-color:#061D23;"
                *ngIf="parseAttendance(element.shift_2_attendance) >= 0">
                <div
                  class="progress-bar"
                  [style.width.%]="getAttendancePercentage(element.shift_2_attendance, element.shift_2_total)"
                  role="progressbar"
                  aria-valuenow="24"
                  aria-valuemin="0"
                  aria-valuemax="28"></div>
              </div>
            </div>
          </td>

        </ng-container>

        <!-- For shift3 -->
        <ng-container matColumnDef="SHift">
          <th *matHeaderCellDef
            class="text-nowrap text-center">
            Shift
          </th>
          <td *matCellDef="let element"
            class="text-nowrap text-center">
            {{element.shift_name_3}}
          </td>

        </ng-container>
        <ng-container matColumnDef="ATtendance">
          <th *matHeaderCellDef
            class="text-nowrap text-center">
            Attendance
          </th>
          <td *matCellDef="let element"
            class="text-center fade_att">
            <div class="d-flex align-items-center gap-2">
              <div *ngIf="parseAttendance(element.shift_3_attendance) >= 0">
                <b> {{element.shift_3_attendance}}/{{element.shift_3_total}}
                </b>
              </div>

              <div
                class="progress ms-2" style="background-color:#061D23;"
                *ngIf="parseAttendance(element.shift_3_attendance) >= 0">
                <div
                  class="progress-bar"
                  [style.width.%]="getAttendancePercentage(element.shift_3_attendance, element.shift_3_total)"
                  role="progressbar"
                  aria-valuenow="24"
                  aria-valuemin="0"
                  aria-valuemax="28"></div>
              </div>
            </div>
          </td>

        </ng-container>

        <!-- <ng-container matColumnDef="action">

             <th *matHeaderCellDef
              class="justify-content-end"></mat-header-cell>
            <td *matCellDef="let row"
              class="justify-content-lg-center justify-content-md-center justify-content-center text-nowrap">

              <svg xmlns="http://www.w3.org/2000/svg" width="20"
                height="6" viewBox="0 0 20 6" fill="none">
                <path
                  d="M4.21125 5.8725H1.66125C1.22096 5.87151 0.798993 5.69617 0.487663 5.38484C0.176333 5.07351 0.000990525 4.65154 0 4.21125V1.66125C0.000990525 1.22096 0.176333 0.798993 0.487663 0.487663C0.798993 0.176332 1.22096 0.000990524 1.66125 0H4.21125C4.65154 0.000990524 5.07351 0.176332 5.38484 0.487663C5.69617 0.798993 5.87151 1.22096 5.8725 1.66125V4.21125C5.87151 4.65154 5.69617 5.07351 5.38484 5.38484C5.07351 5.69617 4.65154 5.87151 4.21125 5.8725ZM1.66125 1.5C1.61848 1.5 1.57747 1.51699 1.54723 1.54723C1.51699 1.57747 1.5 1.61848 1.5 1.66125V4.21125C1.5 4.25402 1.51699 4.29503 1.54723 4.32527C1.57747 4.35551 1.61848 4.3725 1.66125 4.3725H4.21125C4.25402 4.3725 4.29503 4.35551 4.32527 4.32527C4.35551 4.29503 4.3725 4.25402 4.3725 4.21125V1.66125C4.3725 1.61848 4.35551 1.57747 4.32527 1.54723C4.29503 1.51699 4.25402 1.5 4.21125 1.5H1.66125Z"
                  fill="#20263B" />
                <path
                  d="M11.0511 5.8725H8.50109C8.06081 5.87151 7.63884 5.69617 7.32751 5.38484C7.01618 5.07351 6.84083 4.65154 6.83984 4.21125V1.66125C6.84083 1.22096 7.01618 0.798993 7.32751 0.487663C7.63884 0.176332 8.06081 0.000990524 8.50109 0H11.0511C11.4914 0.000990524 11.9133 0.176332 12.2247 0.487663C12.536 0.798993 12.7114 1.22096 12.7123 1.66125V4.21125C12.7114 4.65154 12.536 5.07351 12.2247 5.38484C11.9133 5.69617 11.4914 5.87151 11.0511 5.8725ZM8.50109 1.5C8.45833 1.5 8.41731 1.51699 8.38707 1.54723C8.35683 1.57747 8.33984 1.61848 8.33984 1.66125V4.21125C8.33984 4.25402 8.35683 4.29503 8.38707 4.32527C8.41731 4.35551 8.45833 4.3725 8.50109 4.3725H11.0511C11.0939 4.3725 11.1349 4.35551 11.1651 4.32527C11.1954 4.29503 11.2123 4.25402 11.2123 4.21125V1.66125C11.2123 1.61848 11.1954 1.57747 11.1651 1.54723C11.1349 1.51699 11.0939 1.5 11.0511 1.5H8.50109Z"
                  fill="#FF4B07" />
                <path
                  d="M17.8914 5.8725H15.3414C14.9011 5.87151 14.4792 5.69617 14.1678 5.38484C13.8565 5.07351 13.6812 4.65154 13.6802 4.21125V1.66125C13.6812 1.22096 13.8565 0.798993 14.1678 0.487663C14.4792 0.176332 14.9011 0.000990524 15.3414 0H17.8914C18.3317 0.000990524 18.7537 0.176332 19.065 0.487663C19.3763 0.798993 19.5517 1.22096 19.5527 1.66125V4.21125C19.5517 4.65154 19.3763 5.07351 19.065 5.38484C18.7537 5.69617 18.3317 5.87151 17.8914 5.8725ZM15.3414 1.5C15.2987 1.5 15.2576 1.51699 15.2274 1.54723C15.1972 1.57747 15.1802 1.61848 15.1802 1.66125V4.21125C15.1802 4.25402 15.1972 4.29503 15.2274 4.32527C15.2576 4.35551 15.2987 4.3725 15.3414 4.3725H17.8914C17.9342 4.3725 17.9752 4.35551 18.0054 4.32527C18.0357 4.29503 18.0527 4.25402 18.0527 4.21125V1.66125C18.0527 1.61848 18.0357 1.57747 18.0054 1.54723C17.9752 1.51699 17.9342 1.5 17.8914 1.5H15.3414Z"
                  fill="#20263B" />
              </svg>
           </td>

          </ng-container> -->
        <ng-container matColumnDef="action">

          <th *matHeaderCellDef
            class="text-nowrap text-center">Action</th>
          <td *matCellDef="let row">

            <div class="d-flex align-items-center justify-content-center gap-3">
              <div class="position-relative">
                <a class="action" (click)="openEditDepartmentModal(row)">
                  <img src="../../assets/img/edit_black.png" alt width="24px"
                    height="24px" />
                </a>
                <!-- routerLink="/dashboard/edit-department/{{ row.id }}/{{row.department_name}}" -->
                <div class="tooltip_manual">
                  Edit
                </div>
              </div>
              <div class="position-relative">
                <a class="action"
                  (click)="ConfirmDeleteDepartment(row.department_id)">
                  <img src="../../assets/img/delete_gray.png" alt width="24px"
                    height="24px" />
                </a>
                <div class="tooltip_manual">
                  Delete
                </div>
              </div>
            </div>
          </td>

        </ng-container>
        <ng-container matColumnDef="noData">
          <!-- <mat-footer-cell
            classs="justify-content-lg-center justify-content-md-start justify-content-start"
            *matFooterCellDef
            [attr.colspan]="5">
            No data found
          </mat-footer-cell> -->
          <td mat-footer-cell
            class="text-center" *matFooterCellDef 
            [attr.colspan]="dataSource.data.length == 0 ? displayedColumns.length : 4">
            No data found
          </td>
        </ng-container>
        <tr mat-footer-row *matFooterRowDef="['noData']"
          [hidden]="dataSource && dataSource.data.length > 0">
        </tr>
        <!-- <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row> -->
        <div *ngIf="role === 'SA'">
          <tr mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </div>
        <div *ngIf="role !== 'SA'">
          <tr mat-header-row
            *matHeaderRowDef="displayedColumnsCompany; sticky: true"></tr>
          <tr mat-row
            *matRowDef="let row; columns: displayedColumnsCompany"></tr>
        </div>
      </table>
      <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
        type="pacman" [fullScreen]="true"><p style="color: white"
          class="loader_img"> <img src="assets/img/site_loader.gif"
            alt></p></ngx-spinner>
      <!-- </table> -->
    </div>
  </div>

  <div class="col-12">
    <mat-paginator #paginator [pageSize]="5" style-paginator
      [length]="dataSource.data.length"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
