<section class="add_department">
  <div class="department_card p-3 brand_info">
      <h2>Edit Shift Form</h2>
          <form [formGroup]="editShiftForm" (ngSubmit)="editShift()">
              <div class="row row_container g-3 mt-3 mb-0">
                <div class="col-12">
               <div class="select_input position-relative">
                <select
                  class="form-control"
                  formControlName="companyId"
                  [(ngModel)]="company_id"
                  [attr.disabled]="isCompanyLoggedIn == true ? true : null"
                  (change)="onSelectCompany($event)">
                  <option value>Select Company</option>
                  <option
                    *ngFor="let company of companyData"
                    [value]="company.id">
                    {{ company.name }}
                  </option>
                </select>
                <small
                  *ngIf="
                    (editShiftFormControl['companyId'].touched ||
                      submitted) &&
                    editShiftFormControl['companyId'].invalid
                  "
                  class="form-text text-muted mt-2">
                  <div
                    class="text-danger"
                    *ngIf="
                      editShiftFormControl['companyId'].errors &&
                      editShiftFormControl['companyId'].errors['required']
                    ">
                    Company name is required
                  </div>
                </small>
                <span class="down_arrow"><svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M16.7998 9.5999L11.9998 14.3999L7.19981 9.5999"
                    stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
              </div>
            </div>
            
            <div class="col-12">
              <div class="select_input position-relative">
                <select name="location"  class="form-control"   [(ngModel)]="location_id" formControlName="locationId"
                 [attr.disabled]="isDisabled === true ? true : null" (change)="onLocationChange($event)">
                  <option value defaultSelected>
                    Select Office
                  </option>
                  <option *ngFor="let location of locationData"
                    [value]="location.id">
                    {{ location.location_name }}
                  </option>
                </select>
                <small *ngIf="
                                                (editShiftFormControl['locationId'].touched ||
                                                  submitted) &&
                                                  editShiftFormControl['locationId'].invalid
                                              " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                                                  editShiftFormControl['locationId'].errors &&
                                                  editShiftFormControl['locationId'].errors['required']
                                                ">
                    Location Name is required
                  </div>
                  <div *ngIf="
                                                  editShiftFormControl['locationId'].errors &&
                                                  editShiftFormControl['locationId'].errors['locationId']
                                                ">
                    Enter Only Numeric Value
                  </div>
                </small>
                <span class="down_arrow"><svg xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M16.7998 9.5999L11.9998 14.3999L7.19981 9.5999"
                      stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </span>
              </div>
            </div>


          <div class="col-12">
            <div class="select_input position-relative">
                <select
                  class="form-control"
                  [(ngModel)]="department_id"
                  formControlName="department_id"
                  class="form-control" formControlName="department_id"
                  [attr.disabled]="isDisabled ? true : null">
                  <option value>Select Department</option>
                  <option
                    *ngFor="let department of selectedDept"
                    [value]="department.department_id">
                    {{ department.department_name }}
                  </option>
                </select>
                <span class="down_arrow"><svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M16.7998 9.5999L11.9998 14.3999L7.19981 9.5999"
                    stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </span>
            </div>
          </div>
          <div class="col-12">
                <input
                [ngModel]="name"
                  asp-for="name"
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder="Enter Name"
                  required="required" />
                <small
                  *ngIf="
                    (editShiftFormControl['name'].touched || submitted) &&
                    editShiftFormControl['name'].invalid
                  "
                  class="form-text text-muted mt-2">
                  <div
                    class="text-danger"
                    *ngIf="
                      editShiftFormControl['name'].errors &&
                      editShiftFormControl['name'].errors['required']
                    ">
                    Name is required
                  </div>
                </small>
            </div>
            <!-- <div class="row mb-3">
              <div class="col-12">
                <label for="days" class="labelName">Select Days</label>
              </div>
              <div class="col-12">
                <ng-select
                  [items]="dayName"
                  [multiple]="true"
                  [clearable]="false"
                  [hideSelected]="false"
                  placeholder
                  formControlName="days"
                  class="form-control form-select add_shift pl-5 fs-14 text-secondary"
                  (change)="changeDays($event)">
                </ng-select>
                <small
                  *ngIf="
                    (editShiftFormControl['days'].touched || submitted) &&
                    editShiftFormControl['days'].invalid
                  "
                  class="form-text text-muted mt-2">
                  <div
                    class="text-danger"
                    *ngIf="
                      editShiftFormControl['days'].errors &&
                      editShiftFormControl['days'].errors['required']
                    ">
                    Days is required
                  </div>
                </small>
              </div>
            </div> -->
            <div class="col-12">
              <div class="form-group">
                <label for="clockInTime" class="labelName">Clock In Time</label>
                <input
                [(ngModel)]="clockInTime"
                  asp-for="clockInTime"
                  type="time"
                  class="form-control"
                  formControlName="clockInTime"
                  placeholder="Choose Clock In Time"
                  required="required" />
                <small
                  *ngIf="
                    (editShiftFormControl['clockInTime'].touched ||
                      submitted) &&
                    editShiftFormControl['clockInTime'].invalid
                  "
                  class="form-text text-muted mt-2">
                  <div
                    class="text-danger"
                    *ngIf="
                      editShiftFormControl['clockInTime'].errors &&
                      editShiftFormControl['clockInTime'].errors['required']
                    ">
                    Clock In Time is required
                  </div>
                </small>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="clockOutTime" class="labelName">Clock Out
                  Time</label>
                <input
                [(ngModel)]="clockOutTime"
                  asp-for="clockOutTime"
                  type="time"
                  class="form-control"
                  formControlName="clockOutTime"
                  placeholder="Choose Close Out Time"
                  required="required" />
                <small
                  *ngIf="
                    (editShiftFormControl['clockOutTime'].touched ||
                      submitted) &&
                    editShiftFormControl['clockOutTime'].invalid
                  "
                  class="form-text text-muted mt-2">
                  <div
                    class="text-danger"
                    *ngIf="
                      editShiftFormControl['clockOutTime'].errors &&
                      editShiftFormControl['clockOutTime'].errors['required']
                    ">
                    Clock Out Time is required
                  </div>
                </small>
              </div>
            </div>
            <div>
              <!-- <div class="row mb-3">
                <div class="col-12">
                  <label for="lunchInTime" class="labelName"
                    >Lunch In Time</label
                  >
                </div>
                <div class="col-12">
                  <input
                    asp-for="lunchInTime"
                    type="time"
                    class="form-control"
                    formControlName="lunchInTime"
                    placeholder="Choose Lunch In Time"
                    required="required"
                  />
                  <small
                    *ngIf="
                      (editShiftFormControl['lunchInTime'].touched ||
                        submitted) &&
                      editShiftFormControl['lunchInTime'].invalid
                    "
                    class="form-text text-muted mt-2"
                  >
                    <div
                      class="text-danger"
                      *ngIf="
                        editShiftFormControl['lunchInTime'].errors &&
                        editShiftFormControl['lunchInTime'].errors['required']
                      "
                    >
                      Lunch In Time is required
                    </div>
                  </small>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                  <label for="lunchOutTime" class="labelName"
                    >Lunch Out Time</label
                  >
                </div>
                <div class="col-12">
                  <input
                    asp-for="lunchOutTime"
                    type="time"
                    class="form-control"
                    formControlName="lunchOutTime"
                    placeholder="Choose Lunch Out Time"
                    required="required"
                  />
                  <small
                    *ngIf="
                      (editShiftFormControl['lunchOutTime'].touched ||
                        submitted) &&
                      editShiftFormControl['lunchOutTime'].invalid
                    "
                    class="form-text text-muted mt-2"
                  >
                    <div
                      class="text-danger"
                      *ngIf="
                        editShiftFormControl['lunchOutTime'].errors &&
                        editShiftFormControl['lunchOutTime'].errors[
                          'required'
                        ]
                      "
                    >
                      Lunch Out Time is required
                    </div>
                  </small>
                </div>
              </div> -->
             
              <div class="col-12 pt-2">
                
          <label for class="mb-2">Select days :</label>
                <ul
                class="d-flex align-items-center gap-2 flex-wrap add_shifts_c">
                <li *ngFor="let day of dayName; let i = index">
                  <input type="checkbox" [checked]="days.includes(day)"  (click)="toggleDaySelection(day,i)">
                  <button type="button"
                  class="d-flex align-items-center gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                      <rect width="20" height="20" rx="10" fill="white" />
                      <path d="M14 7L8.03374 13L6 10.9548" stroke="#061D23" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                    <span>{{ day}}</span>
                  </button>
                </li>
              </ul>
              <small *ngIf="shouldShowError()" class="text-danger">Please Select at least one day</small>
             </div>
            </div>
            <!-- <div class="d-flex flex-lg-row flex-md-row flex-column-reverse align-items-center justify-content-between gap-3 pt-5 ">
              <button type="button" class="btn btn-outline-primary py-3 h-auto px-4"
                (click)="onCancel()">
                Cancel
              </button>
              <div
              class="d-flex justify-content-center w-100 position-relative login_loader">
              <button type="submit" class="btn btn-primary" [disabled]="shouldShowError()">Submit</button>
          </div>
          </div> -->
        </div>
        <div class="d-flex flex-lg-row flex-md-row flex-column-reverse align-items-center justify-content-between gap-3 pt-5 ">
          <button type="button" class="btn btn-outline-primary py-3 h-auto px-4"
            (click)="onCancel()">
            Cancel
          </button>
          <div
            class="d-flex justify-content-center w-100 position-relative login_loader">
            <button type="submit"
              class="btn btn-primary  {{spinnerShow}} py-3 px-4 h-auto w-100" [disabled]="shouldShowError()">
              Update Shift</button>
            <div *ngIf="spinner == true" class="loader_img">
              <img src="assets/img/site_loader.gif" alt />
            </div>
          </div>
        </div>
          </form>
        </div>
</section>