.department_select {
    select, input {
        border: 1px solid #cdcdcd;
        border-radius: 10px;
        height: 40px;
    }

    ul.suggestions {
        margin: 0;
        list-style-type: none;
        height: 170px;
        position: absolute;
        top: 100%;
        overflow: auto;
        width: 100%;
        background: #fff;
        z-index: 999;
        box-shadow: 4px 0px 16px -1px #00000034;
        padding: 10px;
        border-radius: 0 0 5px 5px;

        li {
            font-size: 14px;
            padding: 5px 0;
        }
    }
}
.this_week_attendance {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .this_week_attendance li {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
  }
  
  .present {
    background-color: green;
  }
  
  .late {
    background-color: yellow;
  }
  
  .absent {
    background-color: red;
  }
  