<!-- <div class="container-fluid page">
  <div class="page_box p-3 mt-2">
    <h2 class="mt-5">Add Department Form</h2>
  </div>
  <div class="page_content shadow p-3 position-relative">
    <div class="page_content-data">
      <div class="row">
        <div class="col-6 mx-auto">
          <div class="text-center">
            <form (ngSubmit)="addDepartment()" [formGroup]="addDepartmentForm">
              <div class="row row_container">
                <div class="col-4 col_container">
                  <label for="company_id" class="labelName">Company Name</label>
                </div>
                <div class="col-8">
                  <select id="company_id" formControlName="company_id"
                    class="form-control" (change)="onCompanySelect($event)"
                    [attr.disabled]="isCompanyLoggedIn == true ? true : null">
                    <option value defaultSelected>
                      Select Company Name
                    </option>
                    <option *ngFor="let  company of companyData"
                      [value]="company.id">
                      {{ company.name }}
                    </option>
                  </select>
                  <small
                    *ngIf="(addDepartmentFormControl['company_id'].touched || submitted) &&
                      addDepartmentFormControl['company_id'].invalid"
                    class="form-text text-muted">
                    <div class="text-danger"
                      *ngIf=" addDepartmentFormControl['company_id'].errors &&
                        addDepartmentFormControl['company_id'].errors['required' ]">
                      *company Name is required
                    </div>
                  </small>
                </div>
              </div>

              <div class="row row_container">
                <div class="col-4 col_container">
                  <label for="department" class="labelName">Department
                    Name</label>
                </div>
                <div class="col-8">
                  <input asp-for="department" type="text" class="form-control"
                    formControlName="department" placeholder="Enter Name"
                    required="required" />
                  <small
                    *ngIf="(addDepartmentFormControl['department'].touched || submitted) &&
                      addDepartmentFormControl['department'].invalid"
                    class="form-text text-muted">
                    <div class="text-danger"
                      *ngIf=" addDepartmentFormControl['department'].errors &&
                        addDepartmentFormControl['department'].errors['required' ]">
                      *Department Name is required
                    </div>
                  </small>
                </div>
              </div>

              <div>
                <button type="button" class="btn btnCancel"
                  style="margin: 0 20px" (click)="gotoEmpPage()">
                  Cancel
                </button>
                <button type="submit" class="btn btnSubmit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<section class="px-lg-0">
  <div class="d-flex align-items-center justify-content-between">
    <div class="brand_info">
      <!-- <h2>CleanCorp Solutions</h2> -->
      <h2>Add Department Form</h2>
    </div>
    <app-header></app-header>
  </div>
  <div class="container-fluid p-0">
    <div class="row m-0 justify-content-center mt-4">
      <div class="col-lg-6 col-md-10 col-sm-12 col-12 ps-lg-0 px-3 pt-lg-3">
        <div class="department_card">
          <form (ngSubmit)="addDepartment()" [formGroup]="addDepartmentForm">
            <div class="row mb-3">
              <div class="col-12">
                <label for="company_id" class="labelName">Company Name</label>
              </div>
              <div class="col-12">
                <div class="position-relative">
                <select id="company_id" formControlName="company_id"
                  class="form-control" (change)="onCompanySelect($event)"
                  [attr.disabled]="isCompanyLoggedIn == true ? true : null">
                  <option value defaultSelected>
                    Select Company Name
                  </option>
                  <option *ngFor="let  company of companyData"
                    [value]="company.id">
                    {{ company.name }}
                  </option>
                </select>
                <div class="department_drop">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none">
                    <path d="M16.8 9.59999L12 14.4L7.20005 9.59999"
                      stroke="#061D23" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
                <small
                  *ngIf="(addDepartmentFormControl['company_id'].touched || submitted) &&
                      addDepartmentFormControl['company_id'].invalid"
                  class="form-text text-muted">
                  <div class="text-danger"
                    *ngIf=" addDepartmentFormControl['company_id'].errors &&
                        addDepartmentFormControl['company_id'].errors['required' ]">
                    *company Name is required
                  </div>
                </small>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <label for="department" class="labelName">Department
                  Name</label>
              </div>
              <div class="col-12">
                <input asp-for="department" type="text" class="form-control"
                  formControlName="department" placeholder="Enter Name"
                  required="required" />
                <small
                  *ngIf="(addDepartmentFormControl['department'].touched || submitted) &&
                      addDepartmentFormControl['department'].invalid"
                  class="form-text text-muted">
                  <div class="text-danger"
                    *ngIf=" addDepartmentFormControl['department'].errors &&
                        addDepartmentFormControl['department'].errors['required' ]">
                    *Department Name is required
                  </div>
                </small>
              </div>
            </div>

            <div>
              <button type="button" class="btn btn-outline-primary me-3"
                (click)="gotoEmpPage()">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>