.add_department {
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.department_card
{
    max-width: 500px;
    margin: auto;
}

.error {
    color: red;
  }