
<div class="d-flex align-items-center justify-content-between">
  <div class="brand_info">
    <h2>{{nameOfCompany}}</h2>
  </div>
  <app-header></app-header>
</div>

<div class="d-flex justify-content-end mb-3">
  <div class="add-schedule-btn-container mb-3 mt-3">  
    <button class="btn btn-primary" (click)="openTimeZoneFormDialog(timezoneFormData)" [disabled]="dataSource.data.length > 0">Add Schedule</button>
  </div>
</div>
<ng-container *ngIf="dataSource && dataSource.data.length">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12 mt-0">
    <div class="page_table">
      <table class="table setting_table employee_table setting_table card_table">
        <mat-table #table [dataSource]="dataSource" matSort>
  
          <!-- Timezone Column -->
          <ng-container matColumnDef="timezone">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Timezone </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.Timezone}} </mat-cell>
          </ng-container>
  
          <!-- Interval Column -->
          <ng-container matColumnDef="interval">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Interval </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.TimeInterval }} </mat-cell>
          </ng-container>
  
          <!-- Action Column -->
          <ng-container matColumnDef="action">

            <mat-header-cell *matHeaderCellDef
              class="justify-content-end">Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
      
              <div class="position-relative">
                <a class="action"  (click)="openTimeZoneFormDialog(timezoneFormData)"
               >
                  <img src="../../assets/img/edit_black.png" alt width="24px"
                    height="24px" />
                </a>
                <div class="tooltip_manual">
                  Edit
                </div>
              </div>
              <div class="position-relative">
                <a class="action" (click)="deleteSchedule()">
                  <img src="../../assets/img/delete_gray.png" alt width="24px"
                    height="24px" />
                </a>
                  <div class="tooltip_manual">
                      Delete
                  </div>
              </div>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </table>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="dataSource && !dataSource.data.length">
  <div class="text-center mt-3">No data found</div>
</ng-container>

<ng-template #timezoneFormData>
  <section class="add_department add-setting">
    <div class="department_card p-3 brand_info">

      <form  [formGroup]="timezoneForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
          <div class="col-12">
            <label for="timezone">Timezone:</label>
            <select formControlName="timezone" id="timezone">
              <option *ngFor="let tz of timezones" [value]="tz">{{tz}}</option>
            </select>
            <div *ngIf="timezoneControl.invalid && (timezoneControl.dirty || timezoneControl.touched)">
              <div *ngIf="timezoneControl.errors && timezoneControl.errors['required']" class="text-danger">Timezone is
                required.</div>
            </div>
          </div>
          <div class="col-12">
            <label for="interval">Interval:</label>
            <select formControlName="interval" id="interval">
              <option *ngFor="let interval of intervals" [value]="interval">{{interval}}</option>
            </select>
            <div *ngIf="intervalControl.invalid && (intervalControl.dirty || intervalControl.touched)">
              <div *ngIf="intervalControl.errors && intervalControl.errors['required']" class="text-danger">Interval is
                required.</div>
            </div>
          </div>
          <div class="col-12 position-relative login_loader">
            <button type="submit"  [disabled]="submitButtonDisabled" class="btn btn-primary {{spinnerShow}}  py-3 px-4 h-auto w-100">
              {{ dataSource.data.length > 0 ? 'Update' : 'Submit' }}
            </button>
            <div *ngIf="spinner == true" class="loader_img">
              <img src="assets/img/site_loader.gif" alt>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</ng-template>

<!-- 

<div class="container-fluid p-0">
  <div class="row m-0">
    <div class="col-lg-10 col-md-12 col-sm-12 col-12 ps-lg-0 px-lg-3 px-md-3 px-0 pt-lg-3">
      <div class="student_table pe-lg-4 pe-md-4">
        <table class="table m-0">
          <mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="timezone">
              <mat-header-cell class="text-nowrap" *matHeaderCellDef mat-sort-header>
                TimeZone
              </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.Timezone }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="interval">
              <mat-header-cell class="text-nowrap" *matHeaderCellDef mat-sort-header>
                Interval
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.TimeInterval }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell class="text-nowrap" *matHeaderCellDef
                class="justify-content-end">Action</mat-header-cell>
              <mat-cell *matCellDef="let row">

                <div class="position-relative">
                  <a class="action"
                  (click)="openTimeZoneFormDialog(timezoneFormData)">
                    <img src="../../assets/img/edit_black.png" alt width="24px"
                      height="24px" />
                  </a>
                  <div class="tooltip_manual">
                    Edit
                  </div>
                </div>
                <div class="position-relative">
                  <a class="action" (click)="deleteSchedule()">
                    <img src="../../assets/img/delete_gray.png" alt width="24px"
                      height="24px" />
                  </a>
                  <div class="tooltip_manual">
                    Delete
                  </div>
                </div>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef
                [attr.colspan]="dataSource.data.length == 0">
                No data found
              </mat-footer-cell>
            </ng-container>
            <mat-footer-row *matFooterRowDef="['noData']"
              [hidden]="dataSource && dataSource.data.length > 0">
            </mat-footer-row>
          </mat-table>
          <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
            type="pacman" [fullScreen]="true"><p style="color: white"
              class="loader_img"> <img src="assets/img/site_loader.gif"
                alt></p></ngx-spinner>
        </table>
      </div>
  </div>
</div>

<ng-template #timezoneFormData>
  <section class="add_department">
    <div class="department_card p-3 brand_info">

      <form  [formGroup]="timezoneForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
          <div class="col-12">
            <label for="timezone">Timezone:</label>
            <select formControlName="timezone" id="timezone">
              <option *ngFor="let tz of timezones" [value]="tz">{{tz}}</option>
            </select>
            <div *ngIf="timezoneControl.invalid && (timezoneControl.dirty || timezoneControl.touched)">
              <div *ngIf="timezoneControl.errors && timezoneControl.errors['required']" class="text-danger">Timezone is
                required.</div>
            </div>
          </div>
          <div class="col-12">
            <label for="interval">Interval:</label>
            <select formControlName="interval" id="interval">
              <option *ngFor="let interval of intervals" [value]="interval">{{interval}}</option>
            </select>
            <div *ngIf="intervalControl.invalid && (intervalControl.dirty || intervalControl.touched)">
              <div *ngIf="intervalControl.errors && intervalControl.errors['required']" class="text-danger">Interval is
                required.</div>
            </div>
          </div>
          <div class="col-12">
            <button type="submit"  [disabled]="submitButtonDisabled" class="btn btn-primary py-3 px-4 h-auto w-100">
              {{ dataSource.data.length > 0 ? 'Update' : 'Submit' }}
            </button>
            <div *ngIf="spinner == true" class="loader_img">
              <img src="assets/img/site_loader.gif" alt>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</ng-template>  -->