<!-- <div class="container-fluid page">
  <div class="page_box p-3 mt-2">
    <h2 class="mt-5">Edit Department Form</h2>
  </div>
  <div class="page_content shadow p-3 position-relative">
    <div class="page_content-data">
      <div class="row">
        <div class="col-6 mx-auto">
          <div class="text-center">
            <form
              [formGroup]="editDepartmentForm"
              (ngSubmit)="editDepartment()">
              <div class="row row_container">
                <div class="col-4 col_container">
                  <label for="department" class="labelName">Department
                    Name</label>
                </div>
                <div class="col-8">
                  <input
                    asp-for="department"
                    type="text"
                    class="form-control"
                    formControlName="department"
                    [(ngModel)]="departmentName"
                    placeholder="Enter department"
                    required="required" />
                  <small
                    *ngIf="
                      editDepartmentFormControl['department'].touched &&
                      editDepartmentFormControl['department'].invalid
                    "
                    class="form-text text-muted">
                    <div
                      class="text-danger"
                      *ngIf="
                        editDepartmentFormControl['department'].errors &&
                        editDepartmentFormControl['department'].errors[
                          'required'
                        ]
                      ">
                      *Department is required
                    </div>
                  </small>
                </div>
              </div>
              <div>
                <button
                  type="button"
                  class="btn btnCancel"
                  style="margin: 0 20px"
                  (click)="gotoEmpPage()">
                  Cancel
                </button>
                <button type="submit" class="btn btnSubmit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <section class="px-lg-0">
  <div class="d-flex align-items-center justify-content-between">
    <div class="brand_info">
      <h2>Edit Department Form</h2>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row m-0 justify-content-center mt-4">
      <div class="col-lg-6 col-md-10 col-sm-12 col-12 ps-lg-0 px-3 pt-lg-3">
        <div class="department_card">

          <form
            [formGroup]="editDepartmentForm"
            (ngSubmit)="editDepartment()">
            <div class="row mb-3">
              <div class="col-12">
                <label for="department" class="labelName">Department
                  Name</label>
              </div>
              <div class="col-12">
                <input
                  asp-for="department"
                  type="text"
                  class="form-control"
                  formControlName="department"
                  [(ngModel)]="departmentName"
                  placeholder="Enter department"
                  required="required" />
                <small
                  *ngIf="
                  editDepartmentFormControl['department'].touched &&
                  editDepartmentFormControl['department'].invalid
                "
                  class="form-text text-muted">
                  <div
                    class="text-danger"
                    *ngIf="
                    editDepartmentFormControl['department'].errors &&
                    editDepartmentFormControl['department'].errors[
                      'required'
                    ]
                  ">
                    *Department is required
                  </div>
                </small>
              </div>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-outline-primary me-3"
                (click)="onCancel()">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->





<!-- <section class="add_department">
  <div class="department_card p-3 brand_info">
    <h2 class="text-center">New department</h2>
    <form  (ngSubmit)="editDepartment()" [formGroup]="editDepartmentForm">
    
      <div class="row row_container">
  
        <div class="col-12 mt-3">
          <input
          asp-for="department"
          type="text"
          class="form-control"
          formControlName="department"
          [(ngModel)]="departmentName"
          placeholder="Enter department"
          required="required" />
        <small
          *ngIf="
          editDepartmentFormControl['department'].touched &&
          editDepartmentFormControl['department'].invalid
        "
          class="form-text text-muted">
          <div
            class="text-danger"
            *ngIf="
            editDepartmentFormControl['department'].errors &&
            editDepartmentFormControl['department'].errors[
              'required'
            ]
          ">
            *Department is required
          </div>
        </small>
        </div>
      </div>
      <div class="d-flex align-items-center gap-3">
        <button type="button" class="btn btn-outline-primary py-3 h-auto px-4"
          (click)="onCancel()">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary py-3 px-4 h-auto w-100">Submit</button>
      </div>
    </form>
  </div>
</section> -->




<section class="add_department">
  <div class="department_card p-3 brand_info">
    <h2 class="text-center">Edit Department</h2>
    <form (ngSubmit)="editDepartment()" [formGroup]="editDepartmentForm">
      <div class="row row_container">
        <div class="col-12 mt-3">
          <input
            type="text"
            class="form-control"
            formControlName="department"
            placeholder="Enter department"
            [(ngModel)]="department_name"
            required
          />
          <small
            *ngIf="editDepartmentFormControl['department'].touched && editDepartmentFormControl['department'].invalid"
            class="form-text text-muted">
            <div class="text-danger"
              *ngIf="editDepartmentFormControl['department'].errors && editDepartmentFormControl['department'].errors['required']">
              *Department is required
            </div>
          </small>
        </div>
      </div>
      <div class="col-12">
        <select id="location_id" formControlName="location_id" class="form-control"   [(ngModel)]="location_id">
          <option value="" disabled selected>Select Location Name</option>
          <option *ngFor="let location of locationData" [value]="location.id">{{ location.location_name }}</option>
        </select>
        <small
          *ngIf="(editDepartmentFormControl['location_id'].touched ) &&
            editDepartmentFormControl['location_id'].invalid"
          class="form-text text-muted">
          <div class="text-danger"
            *ngIf=" editDepartmentFormControl['location_id'].errors &&
              editDepartmentFormControl['location_id'].errors['required' ]">
            *Location Name is required
          </div>
        </small>
      </div>
      <!-- <div class="d-flex align-items-center gap-3 pt-3">
        <button type="button" class="btn btn-outline-primary py-3 h-auto px-4" (click)="onCancel()">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary py-3 px-4 h-auto w-100">Update Department</button>
         <div *ngIf="spinner == true" class="loader_img">
          <img src="assets/img/site_loader.gif" alt>
        </div>
      </div> -->
      <div class="d-flex align-items-center gap-3 pt-3 ">
        <button type="button" class="btn btn-outline-primary py-3 h-auto px-4"
          (click)="onCancel()">
          Cancel
        </button>
        <div
          class="d-flex justify-content-center position-relative login_loader">
          <button type="submit"
            class="btn btn-primary  {{spinnerShow}} py-3 px-4 h-auto w-100">Update
            Department</button>
          <div *ngIf="spinner == true" class="loader_img">
            <img src="assets/img/site_loader.gif" alt>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
