<!-- <section class="px-lg-0">
  <div class="d-flex align-items-center justify-content-between">
    <div class="brand_info">
      <h2>Add Employee Form</h2>
    </div>
   
  </div>
  <div class="container-fluid p-0">
    <div class="row m-0 justify-content-center mt-4">
      <div class="col-lg-6 col-md-10 col-sm-12 col-12 ps-lg-0 px-3 pt-lg-3">
        <div class="department_card">

          <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
            <div class="row mb-3">
              <div class="col-12">
                <label for="company_id" class="labelName">Company Name</label>
              </div>
              <div class="col-12">
                <select class="form-control" formControlName="company_id" required (change)="onCompanySelect($event)"
                  [attr.disabled]="isCompanyLoggedIn == true ? true : null">
                  <option value>Select Company</option>
                  <option *ngFor="let company of companyData" [value]="company.id">
                    {{ company.name }}
                  </option>
                </select>
                <small *ngIf="
                    (addEmployeeFormControl['company_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['company_id'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['company_id'].errors &&
                      addEmployeeFormControl['company_id'].errors['required']
                    ">
                    Company Name is required
                  </div>
                </small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <label for="name" class="labelName">First Name</label>
              </div>
              <div class="col-12">
                <input asp-for="name" type="text" class="form-control" formControlName="firstName"
                  placeholder="Enter First Name" required="required" />
                <small *ngIf="
                    (addEmployeeFormControl['firstName'].touched ||
                      submitted) &&
                    addEmployeeFormControl['firstName'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['firstName'].errors &&
                      addEmployeeFormControl['firstName'].errors['required']
                    ">
                    First name is required
                  </div>
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['firstName'].errors &&
                      addEmployeeFormControl['firstName'].errors['pattern']
                    ">
                    First name should be alhabetic
                  </div>
                </small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <label for="name" class="labelName">Last Name</label>
              </div>
              <div class="col-12">
                <input asp-for="name" type="text" class="form-control" formControlName="lastName"
                  placeholder="Enter Last Name" required="required" />
                <small *ngIf="
                    (addEmployeeFormControl['lastName'].touched ||
                      submitted) &&
                    addEmployeeFormControl['lastName'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['lastName'].errors &&
                      addEmployeeFormControl['lastName'].errors['required']
                    ">
                    Last name is required
                  </div>
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['lastName'].errors &&
                      addEmployeeFormControl['lastName'].errors['pattern']
                    ">
                    Last name should be alhabetic
                  </div>
                </small>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-12">
                <label for="email" class="labelName">Email</label>
              </div>
              <div class="col-12">
                <input asp-for="email" type="text" class="form-control" formControlName="email"
                  placeholder="Enter Email" required="required" />
                <small *ngIf="
                    (addEmployeeFormControl['email'].touched || submitted) &&
                    addEmployeeFormControl['email'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['email'].errors &&
                      addEmployeeFormControl['email'].errors['required']
                    ">
                    Email is required
                  </div>
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['email'].errors &&
                      addEmployeeFormControl['email'].errors['email']
                    ">
                    Please enter valid email
                  </div>
                </small>
              </div>
            </div>
            Employee hr Rate
            <div class="row mb-3">
              <div class="col-12">
                <label for="hourlyRate" class="labelName">Hour Rate</label>
              </div>
              <div class="col-12">
                <input type="number" class="form-control" formControlName="hourlyRate"
                  placeholder="Enter Employee Hr Rate" required />
                <small
                  *ngIf="
                (addEmployeeFormControl['hourlyRate'].touched || submitted) && addEmployeeFormControl['hourlyRate'].invalid"
                  class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="addEmployeeFormControl['hourlyRate'].errors &&
                  addEmployeeFormControl['hourlyRate'].errors['required']">
                    HourlyRate is required
                  </div>
                </small>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <label for="OverTime" class="labelName">Overtime</label>
              </div>
              <div class="col-12">
                <input type="number" class="form-control" formControlName="overTime" placeholder="Enter Overtime"
                  required />
                <!-- <small *ngIf="addEmployeeFormControl['employeeOverTime'].invalid" class="form-text text-danger mt-2">
                  Employee Overtime is required
                </small> -->
<!-- <small
                  *ngIf="
                (addEmployeeFormControl['overTime'].touched || submitted) && addEmployeeFormControl['overTime'].invalid"
                  class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="addEmployeeFormControl['overTime'].errors &&
                  addEmployeeFormControl['overTime'].errors['required']">
                    Overtime is required
                  </div>
                </small>
              </div>
            </div>

            <!-- Type -->
<!-- <div class="row mb-3">
              <div class="col-12">
                <label for="type" class="labelName">Type</label>
              </div>
              <div class="col-12"> -->

<!-- <select class="form-select form-control" formControlName="type" required>
                  <option value>Select Type</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select> -->
<!-- 
                <small
                  *ngIf="(addEmployeeFormControl['type'].touched || submitted) && addEmployeeFormControl['type'].invalid"
                  class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="addEmployeeFormControl['type'].errors &&
          addEmployeeFormControl['type'].errors['required']">
                    Type is required
                  </div>
                </small>
              </div>
            </div> -->

<!-- //Shift1 -->
<!-- <div class="row mb-3">
              <div class="col-12">
                <label for="shifts1" class="labelName">Shift1</label>
              </div>
              <div class="col-12">
                <select class="form-select form-select-md form-control" aria-label=".form-select-sm example"
                  formControlName="shifts1" (change)="changeShift1($event)">
                  <option value>Select Shift1</option>
                  <option *ngFor="let shift of matchingShifts" [value]="shift.id">
                    {{ shift.name }}
                  </option>
                </select>
                <small *ngIf="
                    (addEmployeeFormControl['shifts1'].touched ||
                      submitted) &&
                    addEmployeeFormControl['shifts1'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['shifts1'].errors &&
                      addEmployeeFormControl['shifts1'].errors['required']
                    ">
                    Shift1 is required
                  </div>
                </small>
              </div>
            </div> -->

<!-- shift2 -->
<!-- <div class="row mb-3">
              <div class="col-12">
                <label for="shifts2" class="labelName">Shift2</label>
              </div>
              <div class="col-12">
                <select class="form-select form-select-md form-control" aria-label=".form-select-sm example"
                  formControlName="shifts2" (change)="changeShift2($event)">
                  <option value>Select Shift2</option>
                  <option *ngFor="let shift of matchingShifts" [value]="shift.id"
                    [disabled]="shift.id === selectedShift1">
                    {{ shift.name }}
                  </option>
                </select>
              </div>
            </div> -->

<!-- shift3 -->
<!-- <div class="row mb-3">
              <div class="col-12">
                <label for="shifts3" class="labelName">Shift3</label>
              </div>
              <div class="col-12">
                <select class="form-select form-select-md form-control" aria-label=".form-select-sm example"
                  formControlName="shifts3" (change)="changeShift3($event)">
                  <option value>Select Shift3</option>
                  <option *ngFor="let shift of matchingShifts" [value]="shift.id" [disabled]="
                      shift.id === selectedShift1 ||
                      shift.id === selectedShift2
                    ">
                    {{ shift.name }}
                  </option>
                </select>
              </div>
            </div> -->

<!-- <div class="row mb-3">
              <div class="col-12">
                <label for="department_id" class="labelName">Department
                  Name</label>
              </div>
              <div class="col-12">
                <select class="form-control" formControlName="department_id" required>
                  <option value>Select Department</option>
                  <option *ngFor="let department of departmentData" [value]="department.id">
                    {{ department.department_name }}
                  </option>
                </select>
                <small *ngIf="
                    (addEmployeeFormControl['department_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['department_id'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['department_id'].errors &&
                      addEmployeeFormControl['department_id'].errors[
                        'required'
                      ]
                    ">
                    Department name is required
                  </div>
                </small>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-12">
                <label for="location_id" class="labelName">Office Name</label>
              </div>
              <div class="col-12">
                <select class="form-control" formControlName="location_id" required>
                  <option value>Select Office</option>
                  <option *ngFor="let location of locations" [value]="location.id">
                    {{ location.location_name }}
                  </option>
                </select>
                <small *ngIf="
                    (addEmployeeFormControl['location_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['location_id'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['location_id'].errors &&
                      addEmployeeFormControl['location_id'].errors['required']
                    ">
                    Office name is required
                  </div>
                </small>
              </div>
            </div>

            <div>
              <button type="button" class="btn btn-outline-primary me-3" (click)="onCancel()">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form> -->

<!-- </div>
      </div>
    </div>
  </div>
</section> -->

<section class="add_department">
  <div class="department_card p-3 brand_info">
    <div class="d-flex align-items-center justify-content-center">
      <div class="brand_info">
        <h2 class="text-center">Add Employee Form</h2>
      </div>
      <!-- <app-header></app-header> -->
    </div>

    <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee()">
      <div class="row g-4">
        <div class="col-12">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="company_id" class="labelName">Company Name :</label>
          <select class="form-control" formControlName="company_id" required
            (change)="onCompanySelect($event)"
            [attr.disabled]="isCompanyLoggedIn == true ? true : null">
            <option value>Select Company</option>
            <option *ngFor="let company of companyData" [value]="company.id">
              {{ company.name }}
            </option>
          </select>
          <small *ngIf="
                    (addEmployeeFormControl['company_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['company_id'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['company_id'].errors &&
                      addEmployeeFormControl['company_id'].errors['required']
                    ">
              Company Name is required
            </div>
          </small>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="name" class="labelName">First Name :</label>
          <input asp-for="name" type="text" class="form-control"
            formControlName="firstName"
            placeholder="Enter Employee Name" required="required" />
          <small *ngIf="
                    (addEmployeeFormControl['firstName'].touched ||
                      submitted) &&
                    addEmployeeFormControl['firstName'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['firstName'].errors &&
                      addEmployeeFormControl['firstName'].errors['required']
                    ">
              First name is required
            </div>
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['firstName'].errors &&
                      addEmployeeFormControl['firstName'].errors['pattern']
                    ">
              First name should be alhabetic
            </div>
          </small>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="name" class="labelName">Last Name :</label>
          <input asp-for="name" type="text" class="form-control"
            formControlName="lastName" placeholder="Enter LastName"
            required="required" />
          <small *ngIf="
                    (addEmployeeFormControl['lastName'].touched ||
                      submitted) &&
                    addEmployeeFormControl['lastName'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['lastName'].errors &&
                      addEmployeeFormControl['lastName'].errors['required']
                    ">
              lastName is required
            </div>
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['lastName'].errors &&
                      addEmployeeFormControl['lastName'].errors['pattern']
                    ">
              lastName should be alhabetic
            </div>
          </small>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="email" class="labelName">Email ID :</label>
          <input asp-for="email" type="text" class="form-control"
            formControlName="email" placeholder="Enter Email Id"
            required="required" />
          <small *ngIf="
                    (addEmployeeFormControl['email'].touched || submitted) &&
                    addEmployeeFormControl['email'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['email'].errors &&
                      addEmployeeFormControl['email'].errors['required']
                    ">
              Email is required
            </div>
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['email'].errors &&
                      addEmployeeFormControl['email'].errors['email']
                    ">
              Please enter valid email
            </div>
          </small>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="name" class="labelName">Set hourly wage :</label>
          <input asp-for="name" type="text" class="form-control"
            formControlName="hourlyRate"
            placeholder="Enter Hourly wage" required="required" />
          <small *ngIf="
                    (addEmployeeFormControl['hourlyRate'].touched ||
                      submitted) &&
                    addEmployeeFormControl['hourlyRate'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['hourlyRate'].errors &&
                      addEmployeeFormControl['hourlyRate'].errors['required']
                    ">
              Hourly wage is required
            </div>
            <!-- <div class="text-danger" *ngIf="
                      addEmployeeFormControl['hourlyRate'].errors &&
                      addEmployeeFormControl['hourlyRate'].errors['pattern']
                    ">
              Hourly wage  should be alhabetic
            </div> -->
          </small>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="name" class="labelName">Employee ID :</label>

          <input asp-for="name" type="text" class="form-control"
            formControlName="employee_id"
            placeholder="Enter Employee ID " required="required" />
          <small *ngIf="
                    (addEmployeeFormControl['employee_id'] ||
                      submitted) &&
                    addEmployeeFormControl['employee_id'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['employee_id'].errors &&
                      addEmployeeFormControl['employee_id'].errors['required']
                    ">
              Employee Id is required
            </div>
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['employee_id'].errors &&
                      addEmployeeFormControl['employee_id'].errors['pattern']
                    ">
              Employee Id should be alhabetic
            </div>
          </small>
        </div> -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="name" class="labelName">Set overtime wage :</label>
          <input asp-for="name" type="text" class="form-control"
            formControlName="overTime"
            placeholder="Enter overtime wage" required="required" />
          <small *ngIf="
                    (addEmployeeFormControl['overTime'].touched || submitted) &&
                    addEmployeeFormControl['overTime'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['overTime'].errors &&
                      addEmployeeFormControl['overTime'].errors['required']
                    ">
              Overtime is required
            </div>
            <!-- <div class="text-danger" *ngIf="
                      addEmployeeFormControl['overTime'].errors &&
                      addEmployeeFormControl['overTime'].errors['pattern']
                    ">
              Hourly wage  should be alhabetic
            </div> -->
            <!-- <div class="text-danger" *ngIf="
                      addEmployeeFormControl['email'].errors &&
                      addEmployeeFormControl['email'].errors['email']
                    ">
              Please enter valid email
            </div> -->
          </small>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="department_id" class="labelName">Department :</label>
          <select class="form-control" formControlName="department_id" required (change)="onDepartmentSelect($event)">
            <option value>Select Department</option>
            <option *ngFor="let department of departmentData"
              [value]="department.department_id">
              {{ department.department_name }}
            </option>
          </select>
          <small *ngIf="
                    (addEmployeeFormControl['department_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['department_id'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['department_id'].errors &&
                      addEmployeeFormControl['department_id'].errors[
                        'required'
                      ]
                    ">
              Department name is required
            </div>
          </small>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="type" class="labelName">Type</label>
          <select class="form-select form-control" formControlName="type"
            required>
            <option value>Select Type</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <small
            *ngIf="(addEmployeeFormControl['type'].touched || submitted) && addEmployeeFormControl['type'].invalid"
            class="form-text text-muted mt-2">
            <div class="text-danger"
              *ngIf="addEmployeeFormControl['type'].errors &&
          addEmployeeFormControl['type'].errors['required']">
              Type is required
            </div>
          </small>
        </div>
        <!-- <div class="col-12">
                <label for="location_id" class="labelName">Office Name</label>
              </div>
              <div class="col-12">
                <select class="form-control" formControlName="location_id" required>
                  <option value>Select Office</option>
                  <option *ngFor="let location of locations" [value]="location.id">
                    {{ location.location_name }}
                  </option>
                </select>
                <small *ngIf="
                    (addEmployeeFormControl['location_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['location_id'].invalid
                  " class="form-text text-muted mt-2">
                  <div class="text-danger" *ngIf="
                      addEmployeeFormControl['location_id'].errors &&
                      addEmployeeFormControl['location_id'].errors['required']
                    ">
                    Office name is required
                  </div>
                </small>
            </div> -->

        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="location_id" class="labelName">Office :</label>
          <select class="form-control" formControlName="location_id" required>
            <option value>Select Office</option>
            <option *ngFor="let location of locations" [value]="location.id">
              {{ location.location_name}}
            </option>
          </select>
          <small *ngIf="
                        (addEmployeeFormControl['location_id'].touched ||
                          submitted) &&
                        addEmployeeFormControl['location_id'].invalid
                      " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                          addEmployeeFormControl['location_id'].errors &&
                          addEmployeeFormControl['location_id'].errors[
                            'required'
                          ]
                        ">
              Office name is required
            </div>
          </small>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="hourlyRate" class="labelName">Hour Rate</label>
          <input type="number" class="form-control"
            formControlName="hourlyRate"
            placeholder="Enter Employee Hr Rate" required />
          <small
            *ngIf="
                (addEmployeeFormControl['hourlyRate'].touched || submitted) && addEmployeeFormControl['hourlyRate'].invalid"
            class="form-text text-muted mt-2">
            <div class="text-danger"
              *ngIf="addEmployeeFormControl['hourlyRate'].errors &&
                  addEmployeeFormControl['hourlyRate'].errors['required']">
              HourlyRate is required
            </div>
          </small>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="OverTime" class="labelName">Overtime</label>
          <input type="number" class="form-control"
            formControlName="overTime" placeholder="Enter Overtime"
            required />
         <small *ngIf="addEmployeeFormControl['employeeOverTime'].invalid" class="form-text text-danger mt-2">
                  Employee Overtime is required
                </small> -->
        <!-- <small
            *ngIf="
                (addEmployeeFormControl['overTime'].touched || submitted) && addEmployeeFormControl['overTime'].invalid"
            class="form-text text-muted mt-2">
            <div class="text-danger"
              *ngIf="addEmployeeFormControl['overTime'].errors &&
                  addEmployeeFormControl['overTime'].errors['required']">
              Overtime is required
            </div>
          </small>
        </div> -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="type" class="labelName">Type</label>
          <select class="form-select form-control"
            formControlName="type"
            required>
            <option value>Select Type</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

          <small
            *ngIf="(addEmployeeFormControl['type'].touched || submitted) && addEmployeeFormControl['type'].invalid"
            class="form-text text-muted mt-2">
            <div class="text-danger"
              *ngIf="addEmployeeFormControl['type'].errors &&
          addEmployeeFormControl['type'].errors['required']">
              Type is required
            </div>
          </small>
        </div> -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="shifts1" class="labelName">Shift1</label>
          <select class="form-select form-select-md form-control"
            aria-label=".form-select-sm example"
            formControlName="shifts1" (change)="changeShift1($event)">
            <option value>Select Shift1</option>
            <option *ngFor="let shift of matchingShifts"
              [value]="shift.id">
              {{ shift.name }}
            </option>
          </select>
          <small *ngIf="
                    (addEmployeeFormControl['shifts1'].touched ||
                      submitted) &&
                    addEmployeeFormControl['shifts1'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['shifts1'].errors &&
                      addEmployeeFormControl['shifts1'].errors['required']
                    ">
              Shift1 is required
            </div>
          </small>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="shifts2" class="labelName">Shift2</label>
          <select class="form-select form-select-md form-control"
            aria-label=".form-select-sm example"
            formControlName="shifts2" (change)="changeShift2($event)">
            <option value>Select Shift2</option>
            <option *ngFor="let shift of matchingShifts"
              [value]="shift.id"
              [disabled]="shift.id === selectedShift1">
              {{ shift.name }}
            </option>
          </select>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="shifts3" class="labelName">Shift3</label>

          <select class="form-select form-select-md form-control"F
            aria-label=".form-select-sm example"
            formControlName="shifts3" (change)="changeShift3($event)">
            <option value>Select Shift3</option>
            <option *ngFor="let shift of matchingShifts"
              [value]="shift.id"
              [disabled]="F
                      shift.id === selectedShift1 ||
                      shift.id === selectedShift2
                    ">
              {{ shift.name }}
            </option>
          </select>
        </div> -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="shifts" class="labelName">Select shifts :</label>

          <!-- <ul class="d-flex align-items-center gap-3 flex-wrap add_shifts_c">
            <li>
              <input type="checkbox" checked>
              <button class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  viewBox="0 0 20 20" fill="none">
                  <rect width="20" height="20" rx="10" fill="white" />
                  <path d="M14 7L8.03374 13L6 10.9548" stroke="#061D23"
                    stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <span>Morning shift</span>
              </button>
            </li>
            <li>
              <input type="checkbox" checked>
              <button class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  viewBox="0 0 20 20" fill="none">
                  <rect width="20" height="20" rx="10" fill="white" />
                  <path d="M14 7L8.03374 13L6 10.9548" stroke="#061D23"
                    stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <span>Weekend
                  shift</span></button>
            </li>
            <li>
              <input type="checkbox">
              <button class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  viewBox="0 0 20 20" fill="none">
                  <rect width="20" height="20" rx="10" fill="white" />
                  <path d="M14 7L8.03374 13L6 10.9548" stroke="#061D23"
                    stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <span> Night
                  shift</span></button>
            </li>
          </ul> -->
          
          <ul  *ngIf="addEmployeeForm.get('department_id').value" class="d-flex align-items-center gap-3 flex-wrap add_shifts_c">
            <li *ngFor="let shift of matchingShifts let i = index"
              style="cursor: pointer;">
              <input class="form-control"
                type="checkbox" [checked]="shifts[i] == shift.id"
                (change)="updateShift(i, shift.id)">
              <button type="button" class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  viewBox="0 0 20 20" fill="none">
                  <rect width="20" height="20" rx="10" fill="white" />
                  <path d="M14 7L8.03374 13L6 10.9548" stroke="#061D23"
                    stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <span>{{ shift.name }}</span>
              </button>
            </li>
          </ul>
          <!-- <small *ngIf="
          (addEmployeeFormControl['shifts'].touched || submitted) &&
          addEmployeeFormControl['shifts'].invalid
        " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
            addEmployeeFormControl['shifts'].errors &&
            addEmployeeFormControl['shifts'].errors['required']
          ">
              Shifts is required
            </div>
          </small> -->
          <div *ngIf="!addEmployeeForm.get('department_id').value" class="text-danger">
            Please select a department to view shifts.
          </div>
          <div *ngIf="addEmployeeForm.get('department_id').value && matchingShifts.length > 0 && shouldShowError()" class="text-danger">Please select at
            least one shift.</div>
            <div *ngIf="addEmployeeForm.get('department_id').value && matchingShifts.length === 0" class="text-danger" style="position: relative;top: 23px;">No shift exists for this department.</div>
        </div>
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="department_id" class="labelName">Department :</label>
          <select class="form-control" formControlName="department_id"
            required>
            <option value>Select Department</option>
            <option *ngFor="let department of departmentData"
              [value]="department.department_id">
              {{ department.department_name }}
            </option>
          </select>
          <small *ngIf="
                    (addEmployeeFormControl['department_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['department_id'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['department_id'].errors &&
                      addEmployeeFormControl['department_id'].errors[
                        'required'
                      ]
                    ">
              Department name is required
            </div>
          </small>
        </div> -->
        <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-12">
          <label for="location_id" class="labelName">Office Name</label>
          <select class="form-control" formControlName="location_id"
            required>
            <option value>Select Office</option>
            <option *ngFor="let location of locations"
              [value]="location.id">
              {{ location.location_name }}
            </option>
          </select>
          <small *ngIf="
                    (addEmployeeFormControl['location_id'].touched ||
                      submitted) &&
                    addEmployeeFormControl['location_id'].invalid
                  " class="form-text text-muted mt-2">
            <div class="text-danger" *ngIf="
                      addEmployeeFormControl['location_id'].errors &&
                      addEmployeeFormControl['location_id'].errors['required']
                    ">
              Office name is required
            </div>
          </small>
        </div> -->
      </div>

      <!-- <div class="mt-4 d-flex align-items-center justify-content-center gap-3">
        <button type="button" class="btn btn-outline-primary py-3 px-4 h-auto" (click)="onCancel()">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary py-3 px-4 h-auto"  [disabled]="shouldShowError()">Add
          Employee</button>
        <div *ngIf="spinner == true" class="loader_img">
          <img src="assets/img/site_loader.gif" alt>
        </div>
      </div> -->

      <div
        class="d-flex mt-4  flex-lg-row flex-md-row flex-column-reverse align-items-center justify-content-center gap-3 px-0 position-relative login_loader">
        <button type="button"
          class="btn btn-outline-primary py-3 px-4 h-auto"
          (click)="onCancel()">
          Cancel
        </button>
        <div class="position-relative location_outer">
          <button type="submit"
            class="btn btn-primary  {{spinnerShow}} py-3 px-4 h-auto"
            [disabled]="shouldShowError()">Add Employee</button>
          <div *ngIf="spinner == true" class="loader_img">
            <img src="assets/img/site_loader.gif" alt>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>