<!-- <section class="site_card px-5"> -->
    <section class="site_card report_filter_outer px-5">
    <div class="container-fluid px-3">
        <div class="row">
            <div class="col-12">
                <div class="d-flex page_wrapper align-items-start gap-lg-4 gap-md-4 gap-0">
                    <app-sidenav class="sidenav">
                    </app-sidenav>
                    <div class="page_body {{this.service.nav_active_class}}">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>