<section class="add_department">
  <div class="department_card p-3 brand_info">
    <h2 class="text-center">Add Shift</h2>

    <form [formGroup]="addShiftForm">

      <!-- <div class="row row_container g-3 mt-3 mb-0">
        <div class="col-12">
          <div class="select_input position-relative">
            <select id="department" formControlName="companyId"
              (change)="onCompanySelect($event)"
              [attr.disabled]="isCompanyLoggedIn == true ? true : null">
              <option value defaultSelected>
                Select Company Name
              </option>
              <option *ngFor="let  company of companyData"
                [value]=" company.id">
                {{ company.name }}
              </option>
            </select> -->
               <div class="row row_container g-3 mt-3 mb-0">
                <div class="col-12">
               <div class="select_input position-relative">
                <select
                  class="form-control"
                  formControlName="companyId"
                  [attr.disabled]="isCompanyLoggedIn == true ? true : null"
                  (change)="onCompanySelect($event)">
                  <option value>Select Company</option>
                  <option
                    *ngFor="let company of companyData"
                    [value]="company.id">
                    {{ company.name }}
                  </option>
                </select>
            <small *ngIf="
                                    (addShiftFormControl['companyId'].touched ||
                                      submitted) &&
                                    addShiftFormControl['companyId'].invalid
                                  " class="form-text text-muted mt-2">
              <div class="text-danger" *ngIf="
                                      addShiftFormControl['companyId'].errors &&
                                      addShiftFormControl['companyId'].errors['required']
                                    ">
                Company Name is required
              </div>
              <div *ngIf="
                                      addShiftFormControl['companyId'].errors &&
                                      addShiftFormControl['companyId'].errors['pattern']
                                    ">
                Enter Only Numeric Value
              </div>
            </small>

            <span class="down_arrow"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M16.7998 9.5999L11.9998 14.3999L7.19981 9.5999"
                  stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </div>
        </div>

        <div class="col-12">
          <div class="select_input position-relative">
            <select name="location"  class="form-control" formControlName="locationId"
             [attr.disabled]="isDisabled === true ? true : null" (change)="onLocationChange($event)">
              <option value defaultSelected>
                Select Office
              </option>
              <option *ngFor="let location of locationData"
                [value]="location.id">
                {{ location.location_name }}
              </option>
            </select>
            <small *ngIf="
                                            (addShiftFormControl['locationId'].touched ||
                                              submitted) &&
                                            addShiftFormControl['locationId'].invalid
                                          " class="form-text text-muted mt-2">
              <div class="text-danger" *ngIf="
                                              addShiftFormControl['locationId'].errors &&
                                              addShiftFormControl['locationId'].errors['required']
                                            ">
                Location Name is required
              </div>
              <div *ngIf="
                                              addShiftFormControl['locationId'].errors &&
                                              addShiftFormControl['locationId'].errors['locationId']
                                            ">
                Enter Only Numeric Value
              </div>
            </small>
            <span class="down_arrow"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M16.7998 9.5999L11.9998 14.3999L7.19981 9.5999"
                  stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </div>
        </div>
        
        <div class="col-12">
          <div class="select_input position-relative">
            <select id="department"  class="form-control" formControlName="department_id"  [attr.disabled]="isDisabled === true || isDeptDisabled ? true : null">
              <option value defaultSelected>
                Select Department
              </option>
              <option *ngFor="let department of deptData"
                [value]="department.department_id">
                {{ department.department_name }}
              </option>
            </select>
            <small *ngIf="
                                  (addShiftFormControl['department_id'].touched ||
                                    submitted) &&
                                  addShiftFormControl['department_id'].invalid
                                " class="form-text text-muted mt-2">
              <div class="text-danger" *ngIf="
                                    addShiftFormControl['department_id'].errors &&
                                    addShiftFormControl['department_id'].errors['required']
                                  ">
                Department Name is required
              </div>
              <div *ngIf="
                                    addShiftFormControl['department_id'].errors &&
                                    addShiftFormControl['department_id'].errors['pattern']
                                  ">
                Enter Only Numeric Value
              </div>
            </small>
            <span class="down_arrow"><svg xmlns="http://www.w3.org/2000/svg"
                width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M16.7998 9.5999L11.9998 14.3999L7.19981 9.5999"
                  stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </span>
          </div>
        </div>
        <div class="col-12">
          <input type="text" id="department" placeholder="Shift Name"
            formControlName="name" />
          <small
            *ngIf="
          (addShiftFormControl['name'].touched || submitted) &&
          addShiftFormControl['name'].invalid
        "
            class="form-text text-muted mt-2">
            <div
              class="text-danger"
              *ngIf="
            addShiftFormControl['name'].errors &&
            addShiftFormControl['name'].errors['required']
          ">
              Name is required
            </div>
          </small>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label for="clockIn" class="mb-1">Clock in :</label>
            <input asp-for="clockInTime" type="time"
              class="form-control" formControlName="clockInTime"
              placeholder="Choose Clock In Time"
              required="required" />
            <small
              *ngIf="
          (addShiftFormControl['clockInTime'].touched ||
            submitted) &&
          addShiftFormControl['clockInTime'].invalid
        "
              class="form-text text-muted mt-2">
              <div
                class="text-danger"
                *ngIf="
            addShiftFormControl['clockInTime'].errors &&
            addShiftFormControl['clockInTime'].errors['required']
          ">
                Clock In Time is required
              </div>
            </small>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="clockOut" class="mb-1">Clock out :</label>
            <input asp-for="clockOutTime" type="time"
              class="form-control" formControlName="clockOutTime"
              placeholder="Choose Clock In Time"
              required="required" />
            <small
              *ngIf="
          (addShiftFormControl['clockOutTime'].touched ||
            submitted) &&
          addShiftFormControl['clockOutTime'].invalid
        "
              class="form-text text-muted mt-2">
              <div
                class="text-danger"
                *ngIf="
            addShiftFormControl['clockOutTime'].errors &&
            addShiftFormControl['clockOutTime'].errors['required']
          ">
                Clock Out Time is required
              </div>
            </small>
          </div>
        </div>

        <div class="col-12 pt-2">
          <label for class="mb-2">Select days :</label>
          <ul
            class="d-flex align-items-center gap-2 flex-wrap add_shifts_c">
            <li *ngFor="let days of dayName let i = index"
              style="cursor: pointer;">
              <input class="form-control" 
                type="checkbox" [checked]="days[i] === ''"
                (click)="toggleDaySelection(days)">
              <button type="button"
                class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20"
                  height="20" viewBox="0 0 20 20" fill="none">
                  <rect width="20" height="20" rx="10"
                    fill="white" />
                  <path d="M14 7L8.03374 13L6 10.9548"
                    stroke="#061D23" stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
                <span>{{ days }}</span>
              </button>
            </li>
          </ul>
          <small *ngIf="this.selectedDays.length === 0" class = "text-danger"> please Select at least one day</small>
        </div>
      </div>
      <div class="d-flex flex-lg-row flex-md-row flex-column-reverse align-items-center justify-content-between gap-3 pt-5 ">
        <button type="button" class="btn btn-outline-primary py-3 h-auto px-4"
          (click)="onCancel()">
          Cancel
        </button>
        <div
          class="d-flex justify-content-center w-100 position-relative login_loader">
          <button type="submit" (click)="addShift()"
            class="btn btn-primary  {{spinnerShow}} py-3 px-4 h-auto w-100" [disabled]="selectedDays.length == 0">Create
            New Shift</button>
          <div *ngIf="spinner == true" class="loader_img">
            <img src="assets/img/site_loader.gif" alt />
          </div>
        </div>
      </div>
    </form>
  </div>
</section>